/*   All Common style start   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue', sans-serif;"
}

i {
    cursor: pointer;
}

ul,ol {
    list-style: none;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #191919;

}

.container {
    margin: 0 auto;
    width: 1392px;
}



/* All Common style end */


/*    Nav Work start    */

nav {
    padding: 10px 0 12px 0;
    border-bottom: 1px solid #ECECEC;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    background: #FFFFFF;
}

.nav_work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}

.nav_text .logo {
    width: 82px;
    margin-right: 24px;
}

.nav_text .logo img {
    width: 100%;
}

.nav_text .menu ul {
    display: flex;
    gap: 26px;
}

.nav_text .menu ul li a {
    font-size: 15px;
    font-weight: 500;
}

.nav_text .menu ul li a:hover {
    text-decoration: underline;
    text-decoration-color:#F9BF29 ;
    font-size: 16px;
    font-weight: bolder;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.nav_button button {
    padding: 10px 21px;
    border-radius: 1000px;
    border: none;
}

.login {
    cursor: pointer;
    background: #F5F8FF;
    color: #0057FF;
}

.login:hover {
    background: linear-gradient(#DEE8FF);
    transition: all linear 0.5s;
    font-weight: bolder;
}

.signup {
    cursor: pointer;
    background: #0057FF;
    color: #F5F8FF;
}

.freetrial {
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
}

.freetrial:hover {
    background: linear-gradient(#DEE8FF, #F9BF29);
}

.nav_button .freetrial img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.nav_button .adobe_logo {
    width: 60px;
}

.nav_button .adobe_logo img {
    width: 100%;
}


.nav_divider{
     height: 20px;
        width: 1px;
      background-color: #ccc;
      margin: 0 6px;
}

/*    Nav Work End    */


/* Searchbar start */


.searchbar_style {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1000px;
    overflow: hidden;
    margin: 24px 0;
}

.search {
    flex: 2;
    border-right: 1px solid #ccc;
    background-color: #f9f9f9;
}

.search form {
    display: flex;
    align-items: center;
    padding: 10px 17px;
}

.search form i {
    font-size: 20px;
    color: #696969;
    margin-right: 10px;
}

.search input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 22px;
    color: #696969;
    outline: none;
    font-weight: 500;
}

 .searchbar_style .text {
    padding: 10px 17px;
}

.text ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.text ul li a {
    text-decoration: none;
    font-weight: 500;
    padding: 5px 14px;
    border-radius: 1000px;
    transition: all 0.3s linear;
    text-align: center;
}

.text ul li a:hover {
    text-decoration: underline;
    text-decoration-color:red ;
    font-weight: bolder;
    transition: all linear 0.3s;
}

.active {
    padding: 8px 12px;
    cursor: pointer;
    background: #191919;
    border-radius: 1000px;
    color: #FFFFFF;
}



/*  Searchbar end  */


/* Menu Style start */
.menu_work{
    border-bottom: 1px solid #ECECEC;
}

.manu_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clik_work {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.clik_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 1px 12px;
  background-color: #ffffff;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  cursor: pointer;
}

.clik_button:hover {
    background: linear-gradient(#F5F8FF,#DEE8FF);
    transition: all linear .5s;
}

.clik_button span{
    font-size: 13px;
}

.clik_button .icon {
  height: 18px;
}

.clik_button .arrow {
  width: 7px;
}



.menu_button h4{
    font-size: 12px;
    color: #696969;

}

.menu_button p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px;
    color: #191919;
}


/* Menu Style End */



/* Post design 1,3,4,5,6 Style start */
#post_design1{
    padding: 20px 0;
}

.post_container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.post .post_text h3 {
    font-size: 14px;
    color: #191919;
    max-width: 220px;
    
}
.post .post_text p {
    font-size: 11px;
    color: #191919;
    
}

.post_container .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_container .post .image{
    max-width: 333px;
    border-radius: 10px;
    overflow: hidden;
}

.post_container .post  .text .post_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    
}



.post_container .post  .text .post_icon .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 11px;
    
}

.every_dot {
    display: flex;
    align-items: center;
    gap: 5px;
}

/*Post design 1,3,4,5,6 Style End */




/* Creative Cloud Style start */
#cloud_work{
    padding: 32px 30px;
    background: #F2F2F2;
    margin-bottom: 40px;
}

.cloud_container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}
.cloud_text h2{
    font-size: 19px;
    line-height: 1.57;
}
.cloud_text p{
    font-size: 14px;
    max-width: 280px;
    padding: 4px 0 30px 0;
    line-height: 1.4;
}

.cloud_text button{
    font-size: 13px;
    background: #0057FF;
    cursor: pointer;
    border: none;
    border-radius: 1000px;
    color: #ffffff;
    padding: 10px 20px;
    line-height: 1.07;
    transition: all linear 0.3s;
    cursor: pointer;
    transform: scale(1);
}

.cloud_text button:hover {
    transform: scale(1.1);
    z-index: 5;
}

.cloud_sell{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    max-width: 1050px;
}

.product_post{
    max-width: 246px;

}

.product_post .image {
    transition: all linear 0.3s;
    cursor: pointer;
    transform: scale(1);
}

.product_post .image:hover {
    transform: scale(1.1);
    z-index: 5;
}

.product_post .icon {
    transition: all linear 0.3s;
    cursor: pointer;
    transform: scale(1);
}

.product_post .icon:hover {
    transform: scale(1.2);
    z-index: 5;
}

.product_post .text{
    margin-top: 28px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.product_text h3{
    font-size: 13px;
    line-height: 1.38;
    
}

.product_text p{
    font-size: 12px;
    color: #696969;
    line-height: 1.5;
    margin-top: 5px;
}


/* Creative Cloud Style End */


/*  Footer Style start  */

footer{
    padding: 10px 0;
    border-top: 1px solid #ECECEC;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.footer_menu ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    color: #696969;
    line-height: 1.43;
}

.footer_menu ul .divider{
     
      height: 14px;
      width: 1px;
      background-color: #ccc;
      margin: 0 6px;

}

.footer_logo {
    cursor: pointer;
}

/* Footer Style End */